<%- include("./templates/partial_header.ejs") %>
<main>
    <form action="/user/register" method="POST">
        <div>
            <label for="username">Nazwa użytkownika</label>
            <input
            type="text"
            name="username"
            required
            minlength="3"
            maxlength="20"
            />
        </div>
        <div>
            <label for="password">hasło:</label>
            <input
            type="password"
            name="password"
            required
            minlength="3"
            maxlength="20"
            />
        </div>
        <div>
            <label for="password_again">hasło:</label>
            <input
            type="password"
            name="password_again"
            required
            minlength="3"
            maxlength="20"
            />
        </div>
        <% if(typeof error!=='undefined'){ %><%= error %><% } %>
        <div>
            <button type="submit">Zarejestruj</button>
        </div>
    </form>
</main>
<%- include("./templates/partial_footer.ejs") %>