<div id="cookie-container" class="cookie-container">
  
  <p>Używamy ciasteczek</p>

  
  <p>Masz możliwość je wyłączyć</p>

  
  <span class="custom-break"></span> 
  
  
  <div id="buttonContainer" class="cookie-buttons">
    
    <a id="acceptButton" class="cookieButton" href="/settings/accept-cookie">Z ciasteczkami</a>
    
    <a id="declineButton" class="cookieButton" href="/settings/decline-cookie">bez</a>
  </div>
  
</div>